<footer class="site-footer">
  <div class="wrapper">
    <!-- hypercomments -->

    <!-- hypercomments -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading">Математика 2021</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="text">
          Открытый проект! Исходные коды хранятся на
          <a
            href="https://github.com/matematika-org/matematika.org"
            rel="nofollow"
            >github</a
          >.

          <br /><br />

          <strong>
            Если есть способности к математике, можете поучавствовать в
            разработке и наполнении сайта на общественных началах или просто
            добавить свои знания, если будет такое желание!

            <br /><br />

            Администратор сайта планирует изучать материалы и записывать
            полезные данные сюда. Могу предложить делать тоже самое тем, кому
            это может быть интересным.
          </strong>

          <br />

          Группа в телеграм: matematika_org
        </p>
      </div>
    </div>
  </div>
</footer>
