<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/samples/">Примеры приложений</a>
        <a class="page-link" href="/recommendations/"
          >Рекомендации по изучению</a
        >
        <!-- <a class="page-link" href="/plans/">Планы по изучению материалов</a> -->
        <a class="page-link" href="/chat/">Telegram группа (чат)</a>
        <a class="page-link" href="/sitemap/">Карта сайта</a>
      </div>
    </nav>
  </div>
</header>
